<ion-toolbar>
  <ion-title class="title">MEMBROS</ion-title>
</ion-toolbar>




<div class="header">
  <div class="header">
    <img src="./assets/igor.jpg" width="35%">
    <h1>Nome: Igor</h1>
    <h2>Matricula:23107646</h2>
    <ion-content color="dark" >
    </ion-content>
  </div>

  <div>
    
  </div>

  <div class="header2">
    <div class="header2">
      <img src="./assets/ingrid.jpg" width="35%">
      <h1>Nome: Ingrid</h1>
      <h2>Matricula:23106952</h2>
      <ion-content color="dark" >
      </ion-content>
    </div>
  
    <ion-footer >
      <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button [routerLink]="['/feed']">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>  
    </ion-footer>
    
