.header{
    margin-top: 5%;
    margin-bottom: 50px;
    text-align: center;
    }

    .header2{
        margin-top: 1px;
        margin-bottom: 50px;
        text-align:center;
        }

        .title{
            text-align: center;
        }